@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@import "tailwindcss";

@source "./src";

@theme {
    --font-serif: "Playfair Display", serif;
    --font-sans: "Inter", sans-serif;

    --color-charcoal-900: #0a0a0a;
    --color-charcoal-800: #1a1a1a;
    --color-charcoal-700: #2a2a2a;

    --color-cream-50: #fcfcfb;
    --color-cream-100: #f5f5f0;
    --color-cream-200: #ebebe0;

    --color-gold-400: #d4af37;
    --color-gold-500: #c5a028;
    --color-gold-600: #b08d1e;
}

@utility font-serif {
    font-family: var(--font-serif);
}

@utility font-sans {
    font-family: var(--font-sans);
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: #f5f5f0;
        background-color: #0a0a0a;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Playfair Display', serif;
    }
}

body {
    @apply bg-charcoal-900 text-cream-100 antialiased overflow-hidden;
}

/* Custom Scrollbar for when content overflows */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d4af37;
}